.c-player--details .details-img {
    position: relative;
    width: fit-content;
    height: 150px;
    margin: 20px auto;
    border-radius: 16px;
}

.c-player--details .details-img img {
    display: block;
    margin: 0px auto;
    width: 100%;
    max-width: 100%;
    max-height: 60px;
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8), -6px -6px 12px rgba(255, 255, 255, 0.4 );


}

.details-img svg {

    position: relative;
    bottom: -8px;
    left: -6px;

}
.c-player--details .details-title {
    color: #EEE;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), -2px -2px 4px rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 10px;
}

.c-player--details .details-artist {
    color: #AAA;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), -2px -2px 4px rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 20px;
}