h1 {
    color: white;
  }
  
  video {
    width: 100%;
  }
  
  .video-wrapper {
    width: 100%;
    max-width: 700px;
    height: 80;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .video-wrapper:hover .controls {
    transform: translateY(0%);
  }
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 30px;
    padding: 14px;
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transform: translateY(150%);
    transition: all 0.3s ease-in-out;
  }
  
  .actions button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .actions button i {
    background-color: none;
    color: white;
    font-size: 30px;
  }
  
  input[type="range"] {
    -webkit-appearance: none !important;
          appearance: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    height: 4px;
    width: 350px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important; 
          appearance: none;
    cursor: pointer;
    height: 6px;
  }

  input::-webkit-slider-runnable-track {
    background: #d0cfcf;
    content: '';
    height: 2px;
    pointer-events: none;
  }
  
  input[type="range"]::-moz-range-progress {
    background: white;
  }
  
  input::-moz-range-thumb {
    height: 18px;
    width: 28px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #777;
    position: relative;
  }
  input::-moz-range-progress {
    height: 2px;
    background: #e33d44;
    border: 0;
    margin-top: 0;
  }
  input::-ms-track {
    background: transparent;
    border: 0;
    border-color: transparent;
    border-radius: 0;
    border-width: 0;
    color: transparent;
    height: 2px;
    margin-top: 10px;
    width: 240px;
  }
  input::-ms-thumb {
    height: 18px;
    width: 28px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #777;
  }
  input::-ms-fill-lower {
    background: #e33d44;
    border-radius: 0;
  }
  input::-ms-fill-upper {
    background: #c7c7c7;
    border-radius: 0;
  }
  input::-ms-tooltip {
    display: none;
  }
  
  .velocity {
    appearance: none;
    background: none;
    color: white;
    outline: none;
    border: none;
    text-align: center;
    font-size: 16px;
  }
  
  .mute-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .mute-btn i {
    background-color: none;
    color: white;
    font-size: 20px;
  }