.song-img{
    width: 62px;
    height: 62px;
    border-radius: 25%;
}



.title svg{
    width: 20px;
    height: 20px;
}

.title {
    margin-left: 10px;
}

.play svg {
    width: 35px;
    height: 35px;
}

.dots svg {
    width: 25px;
    height: 25px;
}
