.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.c-player--controls svg{
    width: 25px;
    height: 25px;
}

.c-player--controls .play-btn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8),
            -4px -4px 10px rgba(255, 255 ,255, 0.8),
            inset -4px -4px 10px rgba(0, 0, 0, 0.8),
            inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    background-color: #ffce00;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
}

.c-player--controls .skip-btn{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #888;
    font-size: 18px;
}